
{% block category %}
    <form class="signin form-horizontal" action="/category/create" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">分类：</label>
            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="name" placeholder="Full Name" value="{{category.name}}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-primary" type="submit">创建</button>
            </div>
        </div>
    </form>
{% endblock %}
