<div class="container-fluid" >
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="albums">
        <li ng-repeat="album in albums | filter:query | orderBy:orderProp"
            class="thumbnail album-listing">

           <img class="thumb" ng-src="{{album.imageUrl}}"></img>
          <a ui-sref='detail({ albumId: album._id, fuck: "xxxx"})'>{{album.name}} </a>
           <!-- <a href="/albums/8" >{{album.name}}</a> -->
          <p>{{album.des}}</p>
          <button class="btn btn-primary " ng-click="editAlbum(album)">Edit</button>
           
        </li>
      </ul>

    </div>
  </div>
</div>
<script
</script>